*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.section1{
    width: 100%;
    height: 650px;
    display: flex;
    position: relative;
    justify-content: center;
    /* border: 2px solid; */
}
.home{
    width: 100%;
    height: 100%;
    border: 2px solid;
}
.home>img{
    width: 100%;
    height: 100%;
}

.navbar{
    position: absolute;
    display: flex;
    /* margin: 50px; */
    width: 100%;
    height: 60px;
   
}
.navbar>img{
  width: 130px;
    display: inline-block;
    position: absolute;
    top: 14px;
    left: 45%;
}
.nav{
     position: absolute;
    /* top: 0;
    left: 0; */
    margin-top: 50px;
    width: 100%;
    height: 50px;
    display: flex;    
    justify-content: space-evenly; 
    align-items: center;          
    padding: 0 50px;              
    background: rgba(255, 255, 255, 0.2);
     /* padding: 7px; */
      transition: all 2s ease;
}

.nav>a{
    color: white;
    text-decoration: none;
    font-family: 'BrandonText Regular' !important;
    letter-spacing:3px;
    padding: 7px;
     transition: all 0.6s ease-in-out;
}
.nav>a:hover{
    background-color: orange;
    color:white
}

.home2{
    position: absolute;
    bottom: 30%;
    left: 100px;

}
.home2>h2{
    font-size: 40px;
    letter-spacing: 2px;
     font-family: 'BrandonText Regular' !important;
    color: white;
}
.home2>p{
    font-size: 30px;
    letter-spacing: 2px;
    color: white;
}

.bgimg{
    position: relative;
    margin: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
    /* border: 2px solid; */
    width: 100%;
    height: 250px;
    background-image: url(https://www.paradigm.com/img/cms/homepage/swatches.jpg);
    opacity: 0.8;
    box-shadow: 10px 10px 15px black;
    
}
/* .bgimg>img{
    width: 100%;
    height: 100%;
    opacity: 0.8;

} */

.bgimg>h3{
    position: absolute;
    left: 45%;
    top: 15%;
    color: rgb(0, 0, 0);
    font-family: 'BrandonText Regular' ;
    letter-spacing: 6px;
    word-spacing: 10px;
    box-shadow: 10px 10px 15px black;
    font-size: 35px;
}
.button{
    width: 170px;
    height: 50px;
    background-color: orange;
    /* border-radius: 20px; */
     left: 47%;
    top: 70%;
    position: absolute;
     transition: all 0.3s ease-in-out;
    border-radius: 36px;
}
.button>a{
    display: inline-block;
    font-size: 15px;
    position:relative;
    border: none;
    color: white;
    padding-top: 15px;
    padding-left: 34px;
   text-decoration: none;
    
}
.button:hover {
    transform: scale(1.1);
    background-color: rgb(0, 0, 0); /* extra effect */
    cursor: pointer;
}

.stuff{
    width: 100%;
    height: 70px;
    /* border: 2px solid; */
    justify-items: center;
    align-content: end;
}
.stuff>h2{
    font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
    letter-spacing: 7px;
    color: gray;
}

.section2{
    margin-top: 50px;
    width: 100%;
    height: 550px;
    display: grid;
     box-shadow: 0px 0px 20px black;
    grid-template-columns: repeat(3 , 31%);
    /* border: 2px solid black; */
    column-gap: 27px;
}

.service{
    /* border: 2px solid black; */
}
.service>img{
    /* padding-left: 15px;
    padding-right: 15px; */
    width: 100%;
    height: 55%;
}
.service1{
    padding-left: 20px;
    margin-left: 10px;
}
.service>p{
    text-align: center;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.service>h2{
     text-align: center;
    font-size: 1.1rem;
    padding: 2%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* padding: 4%; */
}

.button1{
    margin-top: 5%;
    margin-left: 25%;
    width: 150px;
    height: 50px;
    background-color: orange;
     transition: all 0.3s ease-in-out;
    border-radius: 36px;
    
}
.button1>a{
    display: inline-block;
    font-size: 15px;
  
    border: none;
    color: white;
    padding-top: 15px;
    padding-left: 44px;
   text-decoration: none;
    
}
.button1:hover {
    transform: scale(1.1);
    background-color: rgb(0, 0, 0); /* extra effect */
    cursor: pointer;
}

.foot{
    width: 100%;
    height: 80px;
    background-color: black;
    justify-items: center;
    align-content: center;
}
.foot>p{
    color: white;
    letter-spacing: 3px;
    font-size: 15px;
}

.about{
    margin-top: 5%;
}
.about>p{
    text-align: center;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.about>h2{
    padding: 1%;
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}