*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.section1{
    width: 100%;
    height: 650px;
    display: flex;
    position: relative;
    justify-content: center;
    /* border: 2px solid; */
}
.home{
    width: 100%;
    height: 100%;
    border: 2px solid;
}
.home>img{
    width: 100%;
    height: 100%;
}

.navbar{
    position: absolute;
    display: flex;
    /* margin: 50px; */
    width: 100%;
    height: 60px;
   
}
.navbar>img{
  width: 130px;
    display: inline-block;
    position: absolute;
    top: 14px;
    left: 45%;
}
.nav{
     position: absolute;
    /* top: 0;
    left: 0; */
    margin-top: 50px;
    width: 100%;
    height: 50px;
    display: flex;    
    justify-content: space-evenly; 
    align-items: center;          
    padding: 0 50px;              
    background: rgba(0,0,0,0.2);
     /* padding: 7px; */
}

.nav>a{
    color: white;
    text-decoration: none;
    font-family: 'BrandonText Regular' !important;
    letter-spacing:3px;
    padding: 7px;
}
.nav>a:hover{
    transition: all 3 ease;
    color:orange;
}

.home2{
    position: absolute;
    bottom: 30%;
    left: 100px;

}
.home2>h2{
    font-size: 40px;
    letter-spacing: 2px;
     font-family: 'BrandonText Regular' !important;
    color: white;
}
.home2>p{
    font-size: 30px;
    letter-spacing: 2px;
    color: white;
}

.bgimg{
    margin: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px solid;
    width: 100%;
    height: 250px;

}
.bgimg>img{
    width: 100%;
    height: 100%;
    opacity: 0.8;

}
